<a href="https://colab.research.google.com/github/20150702/Test/blob/main/testing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/OP')

Mounted at /OP

In [2]:
import pandas as pd
import sqlite3
import numpy as np

conn = sqlite3.connect("/OP/MyDrive/OnePuhunan/loanscube.db")
cur = conn.cursor()
cur.execute("select * from loans_accountstate;")

df = pd.read_sql_query('''SELECT
    AsOfDate,
    BranchCode,
    OutstandingPrincipal,
    AccountID,
    NoOfArrearDays
    FROM loans_accountstate WHERE OutstandingPrincipal > 0''', conn)

df

                          AsOfDate BranchCode  ...         AccountID NoOfArrearDays
0       2020-11-30 00:00:00.000000       0002  ...  0002OB30001739-1            0.0
1       2020-11-30 00:00:00.000000       0008  ...  0008O120000035-1            0.0
2       2020-11-30 00:00:00.000000       0001  ...  0001OB30002295-1            0.0
3       2020-11-30 00:00:00.000000       0001  ...  0001O110000191-3            0.0
4       2020-11-30 00:00:00.000000       0056  ...  0056O130000018-1            0.0
...                            ...        ...  ...               ...            ...
516983  2020-10-31 00:00:00.000000       1097  ...  1097RLR0000013-1            0.0
516984  2020-10-31 00:00:00.000000       1060  ...  1060SB10000089-1          137.0
516985  2020-10-31 00:00:00.000000       1104  ...  1104SB10000349-1            0.0
516986  2020-10-31 00:00:00.000000       1017  ...  1017SB10000050-1            0.0
516987  2020-10-31 00:00:00.000000       1116  ...  1116SB10000070-1            0.0

[516988 rows x 5 columns]